.mbr-hero__text {
    font-size: 38px;
}

.bettercode_partners {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 765px) and (min-width: 0px) {

    .bettercode_partners {
        padding-left: 20%;
        width: 80%;
        height: auto;
    }

}