<section class="content-2 col-6" id="team" style="background-color: rgb(239, 239, 239);">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-xs-12">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Management Team</h3>
                        <div *ngFor="let member of managements">
                            <p [innerHTML]="member.name"></p>
                            <p [innerHTML]="member.explanation"></p><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-3 col-sm-4 col-xs-12">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Advisory Team</h3>
                        <div>
                            <div *ngFor="let member of advisories">
                                <p [innerHTML]="member.name"></p>
                                <p [innerHTML]="member.explanation"></p><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
