@CHARSET "UTF-8";

@font-face {
    font-family: 'Courier New';
    src: url(../bettercode_resources/font/cour.ttf) format('truetype');
}

/*body {*/
/*font-family: "Courier New";*/
/*}*/

@-webkit-keyframes blink {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

#bettercode_cursor {
    width: 100px;
    background: white;
}

#bettercode_map {
    padding-top: 30px;
    width: 500px;
    height: 580px;
}

#news {
    padding-top: 150px;
    background-image: url(../bettercode_resources/3.jpg);
}

#contact {
    background-image: url(../bettercode_resources/z/Page_03.png);
}

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
}

.partners {
    padding-top: 20px;
}

@media screen and (max-width: 1025px) and (min-width: 766px) {

    .mbr-hero__text {
        padding-top: 70px;
    }

    #bettercode_map {
        width: 390px;
        height: 430px;
    }

}

@media screen and (max-width: 765px) and (min-width: 0px) {

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .mbr-hero__text {
        padding-top: 70px;
    }

    #bettercode_map {
        width: 340px;
        height: 415px;
    }

}