@-webkit-keyframes blink {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
}

.partners {
    padding-top: 20px;
}

@media screen and (max-width: 1025px) and (min-width: 766px) {

    .mbr-hero__text {
        padding-top: 70px;
    }

}

@media screen and (max-width: 765px) and (min-width: 0px) {

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .mbr-hero__text {
        padding-top: 70px;
    }

    .bettercode_team {
        padding-top: 50px;
    }

}