<section id="team">
    <div class="row">
        <h1 class="mbr-hero__text text-white">Management Team</h1>
        <br/><br/><br/>
        <div *ngFor="let member of managements">
            <p class="mbr-hero__subtext text-white" [innerHTML]="member.name"></p>
            <p class="mbr-hero__subtext text-white" [innerHTML]="member.explanation"></p><br/>
        </div>
    </div>
    <div class="row">
        <h1 class="mbr-hero__text text-white">Advisory Team</h1>
        <br/><br/><br/>
        <div>
            <div *ngFor="let member of advisories">
                <p class="mbr-hero__subtext text-white" [innerHTML]="member.name"></p>
                <p class="mbr-hero__subtext text-white" [innerHTML]="member.explanation"></p><br/>
            </div>
        </div>
    </div>
</section>
