.sebm-google-map-container {
    width: 580px;
    height: 540px;
}

.contact_left_map {
    padding: 0px 0px 27px 16px;
    margin: 0;
}

@media screen and (max-width: 765px) and (min-width: 0px) {

    .sebm-google-map-container {
        width: 322px;
        height: 259px;
    }

}