#bettercode_map {
    padding-top: 30px;
    width: 500px;
    height: 580px;
}

.sebm-google-map-container {
    width: 580px;
    height: 540px;
}

.contact_left_map {
    padding: 0px 0px 27px 16px;
    margin: 0;
}

.office_addr {
    font-size: 38px;
}

@media screen and (max-width: 1025px) and (min-width: 766px) {

    .mbr-hero__text {
        padding-top: 70px;
    }

    #bettercode_map {
        width: 450px;
        height: 510px;
    }

}

@media screen and (max-width: 1025px) and (min-width: 766px) {

    .sebm-google-map-container {
        width: 400px;
        height: 425px;
    }

}

@media screen and (max-width: 765px) and (min-width: 0px) {

    .sebm-google-map-container {
        width: 322px;
        height: 359px;
    }

}